@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

body {
    margin: 0
}


a:link, a:visited {
    color: #F05A31 !important;
    text-decoration: none !important;
  }