@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

body {
    margin: 0
}


a:link, a:visited {
    color: #f5a344 !important;
    text-decoration: none !important;
  }

  #codeInput {
      text-align: center;
      direction: ltr !important;
  }